html{
    font-family: 'Geologica', sans-serif;
   
}
body{
    font-family: 'Geologica', sans-serif;
    margin: 0px;
}
a{
    font-family: 'Geologica', sans-serif;
    text-decoration: none;
   display: block;
}
img{
    display: block;
}

img{
    width: 100%;
   
}
section{
    margin: 1.5em;
}
p{
    
    font-size:1em;
} 
    
h2{
    font-family: 'Geologica', sans-serif;
    font-size: 1.5em;
}
.o-autorce__zelene-pozadi{
    background-color: #C2A83E;
    padding: 3em ;
    margin: 0 auto;
    display: flex;
  justify-content: center;
   

}
.o-autorce__zelene-pozadi > div{
       max-width: 260px;
  

}
footer{
    background-color: #2D3C5F;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}
footer > div > a{
    color: white;
}
h1{
    margin: 1em 0em 1em 0em;
    color: black;
    
}
.top{
    display: flex;
    margin: 0px 1.5em 0em 1.5em;
    justify-content: space-between;
   
}


.o-autorce__img{
    max-width:350px ;
    margin: 0 auto;
}
.o-autorce__text > p{
    max-width: 640px;
}

.na-co-fotim__fotak{
    max-width: 270px;
    margin: 1em;
}
.h2-center{
    text-align: center;
    font-weight: bold;

}
.na-co-fotim > p{
max-width: 830px;
}
#galerie{
    background-color: #94A89A;
    margin: 0 0 3em 0;
    padding: 1.5em;

}
.fotky-rozlozeni{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin: 1.5em;
}
.fotka{
    aspect-ratio: 2 / 3;
    object-fit: cover;
    
}

@media only screen and (min-width: 750px) {
    .o-autorce__zelene-pozadi{
     
      justify-content: end;
       
    
    }
    .o-autorce{
     
        position: relative;    
      
      }
      .o-autorce__text{
        color: white;
     padding-left: 3em;
     padding-top: 2em;
        position: absolute;  
        max-width: calc(100% - 7em - 260px);  
      
      }
footer{
    align-items: start;
}
.fotky-rozlozeni{
   
    grid-template-columns: 1fr 1fr 1fr;
}

}