a{
    font-family: 'Geologica', sans-serif;
    text-decoration: none;
    color: white;
}
img{
    width: 100%;
   
}
section{
    padding: 1.5em;
}
p{
    font-family: 'Geologica', sans-serif;
}
h2{
    font-family: 'Geologica', sans-serif;
}